/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border: solid;
  border-color: #f1faee;
  background-color: #4a708a;
  padding: 30px;
  border-radius: 4px;
  width: 400px;
  color: #f1faee;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 22px;
}

.modal-row {
  display: flex;
  align-items: center;
}

.modal-row input[type="text"],
.modal-row input[type="date"] {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  color: #f1faee;
  background-color: #457b9d;
  border: 1px solid #f1faee;
  border-radius: 4px;
  outline: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer .modal-save {
  padding: 10px;
  font-size: 16px;
  color: #f1faee;
  background-color: #3182ce;
  border: solid;
  border-radius: 10px;
  margin-right: 10px;
}

.modal-footer .modal-close {
  padding: 10px;
  font-size: 16px;
  color: #f1faee;
  background-color: #a0aec0e0;
  border: solid;
  border-radius: 10px;
}
