/* Modal.css */
body {
  --main-color: #eff1f3;
  --border-color: #3c6e71;
  --text-color: #353535;
  --hover-color: #d9d9d9;
  --border-line: 2px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border: 4px solid var(--border-color);
  background-color: var(--main-color);
  padding: 30px;
  border-radius: 4px;
  width: 400px;
  color: var(--text-color);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 22px;
}

.modal-row {
  display: flex;
  align-items: center;
}

.modal-row input[type="text"],
.modal-row input[type="date"] {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--hover-color);
  border: var(--border-line) solid var(--border-color);
  border-radius: 4px;
  outline: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer .modal-save {
  padding: 10px;
  font-size: 16px;
  color: var(--text-color);
  background-color: #77abbd;
  border: solid;
  border-radius: 10px;
  margin-right: 10px;
}

.modal-footer .modal-close {
  padding: 10px;
  font-size: 16px;
  color: var(--text-color);
  background-color: #a0aec0e0;
  border: solid;
  border-radius: 10px;
}
