body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d6dbe1c6;
  --main-color: #fff;
  --border-color: #3c6e71;
  --text-color: #353535;
  --hover-color: #eff1f3;
  --border-line: 2px;
}

.logo {
  margin-bottom: 20px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-flow: column wrap;
  width: 80px;
  margin: auto;
  margin-right: 10px;
  margin-top: -10px;
  text-align: right;
}

.filter-buttons {
  border-radius: 4px;
  width: 100%;
}

.filter-buttons button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: var(--main-color);
  color: var(--text-color);
  border: var(--border-line) solid var(--border-color);
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  @media screen and (max-width: 800px) {
    padding: 3px 6px;
    margin-left: 5px;
    font-size: 8px;
  }
}

.filter-buttons button:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

.filter-buttons button:active {
  background-color: var(--hover-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

.main {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-left: 10px;
  text-align: left;
  @media screen and (max-width: 800px) {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group.editing input[type="text"],
.form-group.editing input[type="date"],
.form-group input[type="date"] {
  margin-right: 10px;
  padding: 12px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--main-color);
  border: var(--border-line) solid var(--border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    padding: 10px;
  }
}

.addcontent {
  @media screen and (max-width: 430px) {
    width: 30%;
    margin-bottom: 10px;
  }
}

.addtime {
  @media screen and (max-width: 430px) {
    width: 30%;
    margin-bottom: 10px;
  }
}

.addpeople {
  @media screen and (max-width: 430px) {
    width: 30%;
  }
}

::placeholder {
  color: var(--text-color);
  opacity: 0.3;
}

.form-group input[type="text"]:focus,
.form-group.editing input[type="text"]:focus,
.form-group input[type="date"]:focus,
.form-group.editing input[type="date"]:focus {
  border: solid;
  border-color: var(--border-color);
  background-color: var(--hover-color);
}

.addbtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--main-color);
  color: var(--text-color);
  border: var(--border-line) solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    padding: 10px;
  }
}

.addbtn:hover {
  background-color: var(--hover-color);
}

.addbtn:focus {
  outline: none;
  background-color: var(--hover-color);
}

.search-input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--main-color);
  border: var(--border-line) solid var(--border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    margin: 0px;
    padding: 10px;
    margin-top: -20px;
  }
}

.search-input:focus {
  border: solid;
  border-color: var(--border-color);
  background-color: var(--hover-color);
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  background-color: #fff;
  border: var(--border-line) solid var(--border-color);
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
}

li:hover {
  background-color: var(--hover-color);
}

li input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  margin: 17px;
  display: flex;
  align-content: center;
}

li input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  background-color: var(--border-color);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

li input[type="checkbox"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

li span {
  color: var(--text-color);
}

.todo-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 1.2rem;
  @media screen and (max-width: 430px) {
    font-size: 1rem;
  }
}

.todo-info {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: right;
  font-size: 0.8rem;
  @media screen and (max-width: 430px) {
    display: none;
  }
}

.edit {
  margin: 10px;
  @media screen and (max-width: 430px) {
    display: flex;
    flex-direction: column;
  }
}

li .editbtn {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #77abbd;
  color: var(--text-color);
  border: var(--border-line) solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    margin-bottom: 2px;
  }
}

li .editbtn:hover {
  background-color: #65b4cf;
}

li .deletebtn {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ec9a9a;
  color: var(--text-color);
  border: var(--border-line) solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  @media screen and (max-width: 430px) {
    font-size: 12px;
  }
}

li .deletebtn:hover {
  background-color: #e63946;
}

li .restorebtn {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #a9b7aa;
  color: var(--text-color);
  border: var(--border-line) solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  @media screen and (max-width: 430px) {
    font-size: 12px;
  }
}

li .restorebtn:hover {
  background-color: #8ea187;
}
